label {
  display: block;
}
input {
  display: block;
}

#contact h2,
#book_section h2 {
  font-weight: 800;
  font-size: 36px;
  font-family: monospace;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

#book_section h2 {
  text-align: left;
  margin-bottom: 20px;
}

#contact h4 {
  font-size: 22px;
  color: #2d2d2d;
  font-family: monospace;
  text-align: center;
  margin-top: 15px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 50px;
}

label {
  color: rgb(142, 142, 142);
  font-family: "Work Sans", sans-serif;
}
#contact {
  background-color: #f6f8f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

button {
  background-color: #2947a9;
  color: #fff;
  border: 0px;
  padding: 8px 60px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  margin-top: 25px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

#form-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#form-contact-container input,
#form-contact-container textarea {
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 19px;
}

#form-contact-container label > span {
  color: rgb(255, 25, 25);
  font-family: "Work Sans", sans-serif;
}

.row-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-form {
  width: 420px;
}

.helper-form-text p {
  color: rgb(142, 142, 142);
  font-family: "Work Sans", sans-serif;
}
.helper-form-text span {
  color: rgb(255, 25, 25);
  font-family: "Work Sans", sans-serif;
}

#form-contact-container textarea {
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding: 0px;
  width: 418px;
}

#hero_header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: #fff;
}

#hero_header {
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-image: url("https://cdn.getyourguide.com/img/tour/ac92eab07146ff48.jpeg/145.jpg");
  background-position: center;
  background-size: cover;
}

#book_section {
}

.red_block {
  width: 300px;
  background-color: red;
  line-height: 0;
}
.red_block img {
  width: 300px;
  height: 300px;
}

.content_card {
  background-color: #2947a9;
  line-height: 1;
  padding: 10px;
}

.content_card h3,
.content_card p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.books_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#book_section {
  padding: 50px;
}

footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer section {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-line {
  display: flex;
  width: 385px;
}
.info-line p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.info-line h5,
.newsletter-part h5 {
  width: 105px;
  font-family: "Work Sans", sans-serif;
  color: #2947a9;
  font-size: 20px;
  font-weight: 500;
}

#newsletter-form input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding-left: 10px;
  padding-right: 10px;
}
#form-contact-container input:focus-visible,
#form-contact-container textarea:focus-visible,
#form-contact-container input:focus {
  border: 1px solid #c3c4c4;
  outline: none;
}
#newsletter-form button {
  margin: 0px;
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f9995d;
}
#newsletter-form {
  display: flex;
}

.newsletter-part > div {
  width: 325px;
  margin-top: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100vw;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo_container {
  margin-left: 20px;
}

.nav_container {
  margin-right: 20px;
  align-self: center;
}

.nav_container nav ul {
  display: flex;
  gap: 40px;
}
.nav_container li a {
  text-decoration: none;
  color: #000;
  font-family: "Work Sans", sans-serif;
}
.nav_container li a:hover {
  color: #2947a9;
}
#burger {
  display: none;
}
@media (max-width: 450px) {
  .row-form-container {
    flex-direction: column;
  }
  .row-form {
    width: 80%;
  }

  .row-form input {
    width: calc(100% - 22px);
  }

  #form-contact-container textarea {
    width: calc(100%);
  }
  #hero_header h1 {
    font-size: 25px;
  }
  .nav_container nav ul {
    display: none;
  }
  #burger {
    display: block;
  }
  #burger:hover:after {
    content: "mon menu";
  }
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }
  footer section {
    width: 100%;
  }

  .info-line {
    width: 80%;
  }
  .newsletter-part > div {
    width: 80%;
  }
}
