label {
  display: block;
}
input {
  display: block;
}

#contact h2,
#book_section h2 {
  font-weight: 800;
  font-size: 36px;
  font-family: monospace;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

#book_section h2 {
  text-align: left;
  margin-bottom: 20px;
}

#contact h4 {
  font-size: 22px;
  color: #2d2d2d;
  font-family: monospace;
  text-align: center;
  margin-top: 15px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 50px;
}

label {
  color: rgb(142, 142, 142);
  font-family: "Work Sans", sans-serif;
}
#contact {
  background-color: #f6f8f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

button {
  background-color: #2947a9;
  color: #fff;
  border: 0px;
  padding: 8px 60px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  margin-top: 25px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

#form-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#form-contact-container input,
#form-contact-container textarea {
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 19px;
}

#form-contact-container label > span {
  color: rgb(255, 25, 25);
  font-family: "Work Sans", sans-serif;
}

.row-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-form {
  width: 420px;
}

.helper-form-text p {
  color: rgb(142, 142, 142);
  font-family: "Work Sans", sans-serif;
}
.helper-form-text span {
  color: rgb(255, 25, 25);
  font-family: "Work Sans", sans-serif;
}

#form-contact-container textarea {
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding: 0px;
  width: 418px;
}

#hero_header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: #fff;
}

#hero_header {
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-image: url("fond.png");
  background-position: center;
  background-size: cover;
}

#book_section {
}

.red_block {
  width: 300px;
  background-color: red;
  line-height: 0;
}
.red_block img {
  width: 300px;
  height: 300px;
}

.content_card {
  background-color: #2947a9;
  line-height: 1;
  padding: 10px;
}

.content_card h3,
.content_card p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.books_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#book_section {
  padding: 50px;
}

footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer section {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-line {
  display: flex;
  width: 385px;
}
.info-line p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.info-line h5,
.newsletter-part h5 {
  width: 105px;
  font-family: "Work Sans", sans-serif;
  color: #2947a9;
  font-size: 20px;
  font-weight: 500;
}

#newsletter-form input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  padding-left: 10px;
  padding-right: 10px;
}
#form-contact-container input:focus-visible,
#form-contact-container textarea:focus-visible,
#form-contact-container input:focus {
  border: 1px solid #c3c4c4;
  outline: none;
}
#newsletter-form button {
  margin: 0px;
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f9995d;
}
#newsletter-form {
  display: flex;
}

.newsletter-part > div {
  width: 325px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .row-form-container {
    flex-direction: column;
  }
  .row-form {
    width: 80%;
  }

  .row-form input {
    width: calc(100% - 22px);
  }

  #form-contact-container textarea {
    width: calc(100%);
  }
  #hero_header h1 {
    font-size: 25px;
  }
  .nav_container nav ul {
    display: none;
  }
  #burger {
    display: block;
  }
  #burger:hover:after {
    content: "mon menu";
  }
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }
  footer section {
    width: 100%;
  }

  .info-line {
    width: 80%;
  }
  .newsletter-part > div {
    width: 80%;
  }
}

.scene {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  background-color: #2947a9;
}

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}
.carousel__cell:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}
.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}
.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}
.carousel__cell:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}
.carousel__cell:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}

#animate {
  width: 50px;
  height: 50px;
  background-color: #c3c4c4;
  animation: customTranslate 2s infinite;
  animation-duration: 4s;
}

@keyframes customTranslate {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(15px);
  }
  80% {
    transform: translateX(90px);
  }
  90% {
    transform: translateX(98px);
  }
  100% {
    transform: translateX(100px);
  }
}

#loader {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
